@import "../_Variables";

.absolute-popover {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $white;

}

.autocomplete-container {
    position: relative;
    display: inline-block;


    >.loading-div {
        @extend.absolute-popover;
        border: $default-border;
        padding: 0.5em;
    }

    >.autocomplete-results {
        @extend.absolute-popover;

        >.autocomplete-results-row {
            border: $default-border;
            padding: 0.5em;

        }
    }


}